# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Spring Boot
*.log
spring.log

# IDE
.idea/
*.iml
*.iws
.vscode/
.DS_Store

# Environment variables
application-local.properties
application-prod.properties
*.env

# Frontend
node_modules/
dist/
.bun/
.cache/

# Database
*.sql.bak
*.db

# Claude
phases/
INIT.md
PLAN.md
CLAUDE.md
.claude/

#Java
**/application-local.properties
**/application-prod.properties
**/.env.local
**/.env.production.local